<section class="{{ .bg_color }} border-b-2 border-gray-200 bg-gray-200">
    <div class="container max-w-7xl h-auto mx-auto px-8 py-12">

        <div class="flex flex-col max-w-7xl md:flex-row" data-aos="fade-up" data-aos-duration="800">
            <div class="mr-0 md:mr-8 w-full md:w-3/5">
                <img src="img/brilliantevent.jpg" alt="BUILDEXVancouver" class="pb-10 md:pb-0">
            </div>
            <div class="text-center md:text-left flex flex-col items-center md:items-start">
                <h2 class="font-bold text-2xl md:text-3xl">You’re invited - on us</h2>
                <p class="py-1 text-xl">To this year’s Buildex Vancouver 2023 event and to meet the Brilliant Smart Home Systems team. Feb 15-16th, Booth # 1716</p>
                <br>
                <p><strong>You'll discover:</strong></p>
                <ul class="list-disc ml-8">
                    <li>Why Brilliant is the new leader in the condo and residential smart home automation category.</li>
                    <li>How by installing Brilliant you will elevate your properties into the world’s best smart apartments.</li>
                    <li>Why The Brilliant Smart System leads to happier residents, greater operational efficiency, and bottom-line growth.</li>
                </ul>
                <br>
                <p>With live hands-on demonstrations see for yourself how the Brilliant Smart System offers simple, intuitive, and cost-effective control of lighting, window shades, climate, access, security, music, and more.</p>
                <br>
                <a class="underline" href="https://www.microspec.com/reg/BXV2023/API/?code=EBX23">Invite your network using the free tradeshow admission link or code (EBX23)</a>
                <br>
                <img src="img/Brilliant.png" alt="Brilliant Smart Home System" class="pb-10 md:pb-0 h-auto w-24">
            </div>
        </div>

    </div>
</section>