<section class="{{ .bg_color }} border-b-2 border-gray-200 bg-gray-200">
    <div class="container max-w-7xl h-auto mx-auto px-8 py-12">

        <div class="flex flex-col max-w-7xl md:flex-row" data-aos="fade-up" data-aos-duration="800">
            <div class="mr-0 md:mr-8 w-full md:w-1/2">
                <img src="img/brilliantevent.jpg" alt="BUILDEXVancouver" class="pb-10 md:pb-0 h-auto">
            </div>
            <div class="text-center md:text-left flex flex-col items-center md:items-start">
                <p class="font-bold text-2xl md:text-3xl">Thank You!</p>
                <p class="py-1 text-xl">Thank you one and all for taking the time to visit us at the BuildEx 2022 <span style="color: rgba(37, 99, 142); font-weight: bold;">brilliant</span> Smart Home Systems booth.<br><br>We look forward to the opportunity to partner with you on your next smart home systems project.</p>
                <br>
                <p>- Richard Stokes, Principal Finely Tuned Technologies, West Vancouver BC.</p>
                <img src="img/Brilliant.png" alt="Brilliant Smart Home System" class="pb-10 md:pb-0 h-auto w-24">
            </div>
        </div>

    </div>
</section>