<section class="{{ .bg_color }} border-b-2 border-gray-200 bg-gray-200">
    <div class="container max-w-7xl h-auto mx-auto px-8 py-8">

        <div class="flex flex-col md:flex-row items-center" data-aos="fade-up" data-aos-duration="800">
            <div class="mr-0 md:mr-8">
                <img src="img/ex.png" alt="BUILDEXVancouver" class="pb-10 md:pb-0 h-60">
            </div>
            <div class="text-center md:text-left">
                <p class="font-bold text-2xl md:text-3xl">Connect with us at our booth!</p>
                <p class="py-1 text-xl">We will be participating in this year’s #BUILDEXVancouver from March 23 - 24.<br><br>We hope to see you there!<br>Learn more at: <a href="https://www.buildexvancouver.com" rel="_blank"><u>www.buildexvancouver.com</u></a></p>
            </div>
        </div>

    </div>
</section>